* {
  margin: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  background-color: rgb(51, 127, 226);
  color: white;
  padding: 20px 0px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.utama {
  text-align: center;
  padding: 80px 20px;
  background-color: whitesmoke;
}

.utama h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.utama p {
  margin-bottom: 25px;
}

button {
  background-color: rgb(51, 127, 226);
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

button:hover {
  background-color: rgb(37, 107, 199);
  transform: scale(1.1);
  transition: 0.3s;
}

.fitur {
  padding: 60px 0px;
}

.fitur h2 {
  text-align: center;
  margin-bottom: 40px;
}

.artikel {
  display: flex;
  gap: 20px;
}

article {
  flex: 1;
  border: 1px solid rgb(221, 221, 221);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

article:hover {
  transform: translateY(-8px);
  box-shadow: 0px 5px 15px rgba(19, 19, 19, 0.2);
  transition: 0.3s;
}

img {
  width: 200px;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 25px;
}
